<?php

return [
    'alipay_wap' => [
        'success_url' => 'http://www.yourdomain.com/success',
        'cancel_url' => 'http://www.yourdomain.com/cancel'
	],
    'upmp_wap' => [
        'result_url' => 'http://www.yourdomain.com/result?code='
    ],
    'bfb_wap' => [
        'result_url' => 'http://www.yourdomain.com/result?code=',
        'bfb_login' => true
    ],
    'upacp_wap' => [
        'result_url' => 'http://www.yourdomain.com/result'
    ],
    'wx_pub' => [
        'open_id' => 'Openid'
    ],
    'wx_pub_qr' => [
        'product_id' => 'Productid'
    ],
    'yeepay_wap' => [
        'product_category' => '1',
        'identity_id'=> 'your identity_id',
        'identity_type' => 1,
        'terminal_type' => 1,
        'terminal_id'=>'your terminal_id',
        'user_ua'=>'your user_ua',
        'result_url'=>'http://www.yourdomain.com/result'
    ],
    'jdpay_wap' => [
        'success_url' => 'http://www.yourdomain.com',
        'fail_url'=> 'http://www.yourdomain.com',
        'token' => 'dsafadsfasdfadsjuyhfnhujkijunhaf'
    ],
];
