<!DOCTYPE html>
<html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>兔狗装修报价器</title>
        <meta name="keywords" content="装修报价,装修预算清单,装修公司报价,装修预算表" />
        <meta name="description" content="兔狗免费报价,为您提供装修公司报价,装修报价吗,装修预算表,装修预算清单" />
        <meta name="mobile-agent" content="format=html5;url=http://m.tugou.com/free/price/" />
        <link rel="alternate" media="only screen and (max-width:750px)" href="http://m.tugou.com/free/price/" />
        <meta name="applicable-device" content="pc" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta http-equiv="Cache-Control" content="no-transform" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/layouts/page_header.css" />
        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/layouts/page_footer.css" />
        <link rel="stylesheet" type="text/css" href="http://static.tugou.com/css/dpl.css" />
        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/common.css" />
        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/lib/footer.css" />
        <script type="text/javascript" src="http://static.tugou.com/js/mtogo.js"></script>
        <script type="text/javascript" src="http://static.tugou.com/js/lib/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="http://static.tugou.com/js/lib/jquery.lazyload.js"></script>
        <script type="text/javascript" src="http://static.tugou.com/js/ga.js"></script>
        <script type="text/javascript" src="http://static.tugou.com/js/components/placeholder.js"></script>
        <script type="text/javascript" src="http://static.tugou.com/js/components/switch.js"></script>
        <script type="text/javascript" src="http://static.tugou.com/js/components/fixItem.js"></script>
        <script type="text/javascript" src="http://static.tugou.com/js/components/city_list.js"></script>
        <script type="text/javascript" src="http://static.tugou.com/js/components/form_select_controller.js"></script>
        <script type="text/javascript" src="http://static.tugou.com/js/common.js"></script>
        <script type="text/javascript">/* lazy load */
            jQuery(document).ready(function($) {
                $("img").lazyload({
                    placeholder: "http://img.tugou.com/themes/default/grey.gif",
                    effect: "fadeIn",
                    threshold: 200
                });
            });</script>
        <link rel="stylesheet" type="text/css" href="http://static.tugou.com/css/service/baojia.css"></head>
    
    <body>
        <!--吊顶-->
        <div class="roof">
            <div class="content clearfix">
                <div class="fn-left">
                    <span class="address fn-left">&nbsp;</span>
                    <span class="fn-left" id="current_city"></span>
                    <div class="check-address fn-left">切换城市
                        <div class="cities-list">
                            <dl>
                                <dt>[A-E]</dt>
                                <dd>
                                    <a href="http://bj.tugou.com/" title="北京装修网">北京站</a>
                                    <a href="http://cd.tugou.com/" title="成都装修网">成都站</a>
                                    <a href="http://cs.tugou.com/" title="长沙装修网">长沙站</a>
                                    <a href="http://cx.tugou.com/" title="慈溪装修网">慈溪站</a>
                                    <a href="http://cz.tugou.com/" title="常州装修网">常州站</a></dd>
                            </dl>
                            <dl>
                                <dt>[F-H]</dt>
                                <dd>
                                    <a href="http://hz.tugou.com/" title="杭州装修网">杭州站</a>
                                    <a href="http://fz.tugou.com/" title="福州装修网">福州站</a>
                                    <a href="http://gz.tugou.com/" title="广州装修网">广州站</a>
                                    <a href="http://gy.tugou.com/" title="贵阳装修网">贵阳站</a></dd>
                            </dl>
                            <dl>
                                <dt>[J-L]</dt>
                                <dd>
                                    <a href="http://km.tugou.com/" title="昆明装修网">昆明站</a>
                                    <a href="http://kq.tugou.com/" title="柯桥装修网">柯桥站</a>
                                    <a href="http://jh.tugou.com/" title="金华装修网">金华站</a>
                                    <a href="http://jx.tugou.com/" title="嘉兴装修网">嘉兴站</a>
                                    <a href="http://ks.tugou.com/" title="昆山装修网">昆山站</a></dd>
                            </dl>
                            <dl>
                                <dt>[M-Q]</dt>
                                <dd>
                                    <a href="http://mas.tugou.com/" title="马鞍山装修网">马鞍山站</a>
                                    <a href="http://nj.tugou.com/" title="南京装修网">南京站</a>
                                    <a href="http://nc.tugou.com/" title="南昌装修网">南昌站</a>
                                    <a href="http://nb.tugou.com/" title="宁波装修网">宁波站</a>
                                    <a href="http://qd.tugou.com/" title="青岛装修网">青岛站</a></dd>
                            </dl>
                            <dl>
                                <dt>[R-T]</dt>
                                <dd>
                                    <a href="http://sh.tugou.com/" title="上海装修网">上海站</a>
                                    <a href="http://su.tugou.com/" title="苏州装修网">苏州站</a>
                                    <a href="http://sjz.tugou.com/" title="石家庄装修网">石家庄站</a>
                                    <a href="http://sx.tugou.com/" title="绍兴装修网">绍兴站</a>
                                    <a href="http://ty.tugou.com/" title="太原装修网">太原站</a>
                                    <a href="http://tj.tugou.com/" title="天津装修网">天津站</a>
                                    <a href="http://tz.tugou.com/" title="台州装修网">台州站</a></dd>
                            </dl>
                            <dl>
                                <dt>[W-X]</dt>
                                <dd>
                                    <a href="http://wh.tugou.com/" title="武汉装修网">武汉站</a>
                                    <a href="http://wx.tugou.com/" title="无锡装修网">无锡站</a>
                                    <a href="http://xm.tugou.com/" title="厦门装修网">厦门站</a>
                                    <a href="http://xa.tugou.com/" title="西安装修网">西安站</a>
                                    <a href="http://zj.tugou.com/" title="镇江装修网">镇江站</a></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="border">全国领先互联网家装平台</span></div>
                <ul class="login fn-right" id="roof-nav">
                    <li id="login-link" class="word hide no-icon">
                        <a href="http://www.tugou.com/passport/UserLogin/">登录</a></li>
                    <li id="register-link" class="hide no-icon">
                        <a href="http://www.tugou.com/passport/UserRegister/">免费注册</a></li>
                    <li id="phone-link" class="phone">
                        <a href="http://www.tugou.com/apps/pc_app.html" target="_blank">手机兔狗</a>
                        <div class="code">
                            <img src="http://img.tugou.com/index/app_code.jpg" border="0" alt="装修网">
                            <p>下载APP 找装修更轻松</p>
                            <img src="http://img.tugou.com/index/app_weixin.jpg" border="0" alt="装修网">
                            <p>兔狗家装微信服务号</p>
                        </div>
                    </li>
                    <li class="number">
                        <a>400 8617 000</a>
                    </li>
                    <li class="baike">
                        <a href="http://www.tugou.com/baike/" class="baike-1">装修百科</a>
                        <a href="http://bbs.tugou.com/" class="forum">装修论坛</a></li>
                </ul>
            </div>
        </div>
        <script type="text/javascript" src="http://static.tugou.com/js/login.js"></script>
        <!--logo head-->
        <div class="logo-head">
            <div class="content">
                <div>
                    <a href="http://www.tugou.com">
                        <img src="http://img.tugou.com/index/tugou-logo.png" alt="兔狗家装互联网家装平台"></a>
                    <img src="http://img.tugou.com/index/logo-word.png"></div>
                <ul class="nav">
                    <li data-tabid="index">
                        <a href="http://www.tugou.com">首页</a></li>
                    <li data-tabid="meitu">
                        <a href="http://meitu.tugou.com/">装修效果图</a>
                        <div class="second-nav">
                            <a href="http://meitu.tugou.com/pic/">装修美图</a>
                            <a href="http://meitu.tugou.com/case/">装修案例</a></div>
                    </li>
                    <li data-tabid="jy">
                        <a href="http://www.tugou.com/jy/">装修经验</a></li>
                    <li data-tabid="realcase">
                        <a href="http://www.tugou.com/realcase/">装修实景
                            <i class="hot"></i></a>
                    </li>
                    <li data-tabid="provider">
                        <a href="http://www.tugou.com/provider/">装修公司</a></li>
                    <li data-tabid="guanjia">
                        <a href="http://www.tugou.com/free/guanjia/">装修管家</a></li>
                    <li data-tabid="jiancai">
                        <a href="http://tuan.tugou.com/" rel="nofollow">团建材家具</a></li>
                </ul>
            </div>
        </div>
        <div class="content-baojia">
            <div class="center">
                <img class="img01" src="http://img.tugou.com/special/price-title.png" alt="兔狗装修报价">
                <h1 class="paragraph">10秒算出花多少，装修预算早知道！</h1>
                <img class="img02" src="http://img.tugou.com/special/baojia02.jpg" alt="兔狗装修报价">
                <img class="img03" src="http://img.tugou.com/special/baojia03.jpg" alt="兔狗装修报价">
                <div class="form-list">
                    <div class="form apply_form">
                        <p>请正确填写您的真实信息</p>
                        <div class="fbody">
                            <input name="apply_type" type="hidden" value="29" />
                            <input name="scene" type="hidden" value="" />
                            <input name="name" type="text" placeholder="您的姓名">
                            <input name="phone" type="tel" placeholder="手机号码">
                            <div class="form-inline clearfix">
                                <input class="form-element fn-left" name="sms_code" type="text" placeholder="验证码" />
                                <div class="get-pin-wrapper clearfix fn-left" style="position: relative;">
                                    <input class="form-element fn-left btn get-pin" type="button" value="获取验证码" />
                                    <div class="get-pin-validate hide">
                                        <dl class="clearfix">
                                            <dd class="left js-random">
                                                <img src="http://www.tugou.com/passport/GetCaptcha/?scene=PcUserApply" alt="" /></dd>
                                            <dd class="right">
                                                <a class="js-reload">换一张</a></dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dd class="left">
                                                <input class="input" name="captcha" /></dd>
                                            <dd class="right">
                                                <a class="btn-orange submit">确定</a></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <input name="size" type="text" placeholder="面积" value="">
                            <input name="remark" type="hidden" value="在线报价">
                            <div class="select-group clearfix js-region-select-group">
                                <select class="js-province" name="province" id="province">
                                    <option value="">省/市</option></select>
                                <select class="js-city" name="city" id="city">
                                    <option value="">市/地区</option></select>
                            </div>
                            <span class="unit">m²</span>
                            <div class="select-group clearfix js-region-select-group baojia-type">
                                <select name="level" id="level">
                                    <option value="0">装修档次</option>
                                    <option value="1">普通装修</option>
                                    <option value="2">中档装修</option>
                                    <option value="3">高端装修</option></select>
                            </div>
                        </div>
                        <p class="baojia">已有
                            <span class="ifocus"></span>人成功获取报价</p></div>
                    <div class="anniu"></div>
                    <div class="detail">
                        <p class="total">您的装修预算为
                            <span class="money">0</span>元</p>
                        <div class="detail-list">
                            <p class="list-left">客厅</p>
                            <p class="list-right">
                                <span class="price-kt">0</span>元</p></div>
                        <div class="detail-list">
                            <p class="list-left">卧室</p>
                            <p class="list-right">
                                <span class="price-ws">0</span>元</p></div>
                        <div class="detail-list">
                            <p class="list-left">厨房</p>
                            <p class="list-right">
                                <span class="price-cf">0</span>元</p></div>
                        <div class="detail-list">
                            <p class="list-left">卫生间</p>
                            <p class="list-right">
                                <span class="price-wsj">0</span>元</p></div>
                        <div class="detail-list">
                            <p class="list-left">阳台</p>
                            <p class="list-right">
                                <span class="price-yt">0</span>元</p></div>
                        <div class="detail-list">
                            <p class="list-left">其他预算</p>
                            <p class="list-right">
                                <span class="price-other">0</span>元</p></div>
                        <p class="beizhu">* 报价仅供参考，真实报价以实际量房为准</p></div>
                </div>
                <div class="img-text">
                    <p class="why">为什么选择兔狗在线装修报价器？</p>
                    <div class="why-list">
                        <p class="why-list-img-1"></p>
                        <p class="why-title">报价精准</p>
                        <p class="why-body">11年专注装修行业
                            <br/>累计800万业主数据</p></div>
                    <div class="why-list">
                        <p class="why-list-img-2"></p>
                        <p class="why-title">一键获取</p>
                        <p class="why-body">10秒轻松获取报价
                            <br/>心里有底再装修</p></div>
                    <div class="why-list">
                        <p class="why-list-img-3"></p>
                        <p class="why-title">参考性强</p>
                        <p class="why-body">空间清单一目了然
                            <br/>偏差性小值得参考</p></div>
                </div>
            </div>
        </div>
        <link type="text/css" rel="stylesheet" href="//at.alicdn.com/t/font_1463989160_300939.css" />
        <link type="text/css" rel="stylesheet" href="//static.tugou.com/common/consult/aside-consult-v4.css?ver=4.0.0" />
        <!-- side bar -->
        <div class="side">
            <div class="side-con">
                <div id="kefu-close">x</div>
                <div class="kefu-notice" id="kefu-notice" onclick="nTalk.im_openInPageChat();">
                    <div id="sequence-0" class="sequence">
                        <div id="sequence-0-big" class="sequence-big" style="display:block">
                            <img src="//static.tugou.com/common/consult/img/company-v4.png" /></div>
                        <div id="sequence-0-small" style="display:none">
                            <img src="//static.tugou.com/common/consult/img/company-small-v4.png" /></div>
                    </div>
                    <div id="sequence-1" class="sequence">
                        <div id="sequence-1-big" class="sequence-big">
                            <img src="//static.tugou.com/common/consult/img/material-v4.png" /></div>
                        <div id="sequence-1-small">
                            <img src="//static.tugou.com/common/consult/img/material-small-v4.png" /></div>
                    </div>
                    <div id="sequence-2" class="sequence">
                        <div id="sequence-2-big" class="sequence-big">
                            <img src="//static.tugou.com/common/consult/img/design-v4.png" /></div>
                        <div id="sequence-2-small">
                            <img src="//static.tugou.com/common/consult/img/design-small-v4.png" /></div>
                    </div>
                    <div id="sequence-3" class="sequence">
                        <div id="sequence-3-big" class="sequence-big">
                            <img src="//static.tugou.com/common/consult/img/offer-v4.png" /></div>
                        <div id="sequence-3-small">
                            <img src="//static.tugou.com/common/consult/img/offer-small-v4.png" /></div>
                    </div>
                </div>
                <div id="kefu-online" style="display:none" onclick="nTalk.im_openInPageChat();">
                    <img src="http://img.tugou.com/consultant/consult-online.png"></div>
                <div class="icon-btn iconfont icon-huidaodingbu back-top" style="display:none">返回顶部</div></div>
        </div>
        <script type="text/javascript" src="//static.tugou.com/common/consult/aside-consult-v4.js?ver=4.0.0"></script>
        <script type="text/javascript" src="http://dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9262" charset="utf-8"></script>
        <!--底部-->
        <div class="footer">
            <div class="border">
                <div class="four-good main-cont">
                    <div class="item1">
                        <p>好设计</p>
                        <p>优秀设计，实景体验</p>
                    </div>
                    <div class="item2">
                        <p>好材料</p>
                        <p>优质主材，源头直供</p>
                    </div>
                    <div class="item3">
                        <p>好施工</p>
                        <p>标准工艺，严苛施工</p>
                    </div>
                    <div class="item4">
                        <p>好服务</p>
                        <p>装修管家，专业服务</p>
                    </div>
                </div>
            </div>
            <div class="web-map main-cont clearfix">
                <div class="item fn-left">
                    <div class="map padTop10 fn-left">
                        <p>关于我们</p>
                        <div>
                            <a href="http://www.citytogo.com/about.html" rel="nofollow" target="_blank">关于兔狗</a>
                            <a href="http://www.citytogo.com/workspace.html" rel="nofollow" target="_blank">加入我们</a>
                            <a href="http://www.citytogo.com/contactus.html" rel="nofollow" target="_blank">联系我们</a></div>
                    </div>
                    <div class="map padTop10 fn-left">
                        <p>网站服务</p>
                        <div>
                            <a href="http://www.tugou.com/free/yanfang/" target="_blank">免费验房</a>
                            <a href="http://www.tugou.com/free/sheji/" target="_blank">免费设计报价</a>
                            <a href="http://www.tugou.com/free/jianli/" target="_blank">免费监理</a></div>
                    </div>
                    <div class="map padTop10 fn-left">
                        <p>网站帮助</p>
                        <div>
                            <a href="http://www.tugou.com/map/">网站地图</a>
                            <a>意见反馈</a>
                            <a href="http://www.citytogo.com/copyright.html">版权声明</a></div>
                    </div>
                </div>
                <div class="item contact fn-right">
                    <p>客服热线：
                        <span>400 8617 000</span></p>
                    <p>商家加盟：
                        <span>18958057436</span></p>
                    <a onclick="nTalk.im_openInPageChat();">在线咨询</a></div>
                <div class="item code fn-right">
                    <a>
                        <img src="http://img.tugou.com/index/app_code.jpg" border="0" alt="兔狗家装APP"></a>
                    <p>下载兔狗家装APP</p>
                </div>
            </div>
        </div>
        <!-- page footer link -->
        <div class="footer-links">
            <div class="links">
                <div class="links-footer">
                    <div class="links-left">
                        <p>Copyright © 兔狗家装 tugou.com All Rights Reserved</p>
                        <!-- <p>浙B2-20160115&nbsp;&nbsp;<span class="beian"></span>浙公网安备 33010302001742号</p> -->
                        <p>浙ICP备14016529号&nbsp;&nbsp;
                            <span class="beian"></span>浙公网安备 33010302001742号</p></div>
                    <div class="links-right">
                        <a>
                        </a>
                        <a id='___szfw_logo___' href='https://credit.szfw.org/CX20151215012655370386.html' target='_blank' rel=”nofollow”></a>
                        <a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <style type="text/css">.beian{ width: 15px; height: 15px; display: inline-block; background: url(http://img.tugou.com/index/footer-beian.png) no-repeat; background-size: 100%; position: relative; top: 2px; }</style>
        <div style="position:absolute; width:0px; height:0px; z-index:1; display:none">
            <script src="http://s4.cnzz.com/z_stat.php?id=1255110144&web_id=1255110144" language="JavaScript"></script>
            <!--PC/移动端加百度统计代码：-->
            <script>var _hmt = _hmt || []; (function() {
                    var hm = document.createElement("script");
                    hm.src = "//hm.baidu.com/hm.js?dc5a135b405f74dc32ec7a6e5e1f5716";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();</script>
            <script>document.write(unescape("%3Cscript src='//hm.baidu.com/hm.js?da71bb527e7fbe36ed37986b221b9730' type='text/javascript'%3E%3C/script%3E"));
                window._pt_lt = new Date().getTime();
                window._pt_sp_2 = [];
                _pt_sp_2.push('setAccount,297b9515');
                var _protocol = (("https:" == document.location.protocol) ? " https://": " http://"); (function() {
                    var atag = document.createElement('script');
                    atag.type = 'text/javascript';
                    atag.async = true;
                    atag.src = _protocol + 'js.ptengine.cn/pta.js';
                    var stag = document.createElement('script');
                    stag.type = 'text/javascript';
                    stag.async = true;
                    stag.src = _protocol + 'js.ptengine.cn/pts.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(atag, s);
                    s.parentNode.insertBefore(stag, s);
                })();</script>
        </div>
    </body>
    <script type="text/javascript" src="http://static.tugou.com/js/nav.js"></script>
    <script src="http://static.tugou.com/js/service/baojia.js"></script>
    <script type="text/javascript" src=" http://static.tugou.com/js/city/ProvinceJson.js "></script>
    <script type="text/javascript" src=" http://static.tugou.com/js/city/CityJson.js "></script>
    <script type="text/javascript" src=" http://static.tugou.com/js/components/cascadingRegion.js "></script>

</html>
