E 6]>
    <html lang="zh-cn" class="ielt7  ielt8  ielt9 ielt10 ">
    <![endif]-->
    <!--[if IE 7]>
        <html lang="zh-cn" class="ie7  ielt8  ielt9 ielt10">
        <![endif]-->
        <!--[if IE 8 ]>
            <html lang="zh-cn" class="ie8 ielt9 ielt10">
            <![endif]-->
            <!--[if IE 9 ]>
                <html lang="zh-cn" class="ie9 ielt10">
                <![endif]-->
                <!--[if (gt IE 9)|!(IE)]>
                    <!-->
                    <html lang="zh-cn">
                    <!--<![endif]-->
                    
                    <head>
                        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
                        <meta name="renderer" content="webkit">
                        <title>岗位招聘 - 兔狗科技</title>
                        <meta name="keywords" content="兔狗科技（CityTogo）是全国领先互联网家装平台。是中国互联网诚信示范单位。旗下包括兔狗家装、城市团购网、途高家居精选、微装修、无印美家等众多知名品牌。" />
                        <meta name="description" content="兔狗科技，互联网家装平台，装修公司，家居建材，装修团购、建材团购" />
                        <link rel="shortcut icon" href="/favicon.ico" />
                        <link rel="stylesheet" type="text/css" href="http://static.tugou.com/css/lib/reset.css">
                        <link rel="stylesheet" type="text/css" href="/css/group.css">
                        <link rel="stylesheet" type="text/css" href="/css/group_header.css">
                        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
                        <script type="text/javascript" src="/js/group.js"></script>
                    </head>
                    
                    <body>
                        <div class="group-header">
                            <div class="header">
                                <div class="logo">
                                    <a href="http://www.citytogo.com">
                                        <img src="http://img.tugou.com/group/citytogo_logo.png" alt="兔狗科技"></a>
                                </div>
                                <ul class="nav">
                                    <li class="nav1">
                                        <a href="http://www.citytogo.com/">首页</a></li>
                                    <li class="nav-sub">
                                        <a href="http://www.citytogo.com/introduction.html">关于兔狗</a></li>
                                    <li class="nav-2">
                                        <a href="http://www.citytogo.com/workspace.html">加入兔狗</a></li>
                                    <li class="nav-4">
                                        <a href="http://www.citytogo.com/contactus.html">联系我们</a></li>
                                </ul>
                                <div class="subnav">
                                    <div class="subnav-body">
                                        <ul class="menu"></ul>
                                        <ul class="menu menu-1">
                                            <li>
                                                <a href="http://www.citytogo.com/introduction.html">兔狗简介</a></li>
                                            <li>
                                                <a href="http://www.citytogo.com/copyright.html">版权声明</a></li>
                                        </ul>
                                        <ul class="menu menu-2">
                                            <li>
                                                <a href="http://www.citytogo.com/workspace.html">加入兔狗</a></li>
                                            <li class="add">
                                                <a href="http://www.citytogo.com/joinus.html">岗位招聘</a></li>
                                            <li>
                                                <a href="http://www.citytogo.com/fljp.html">福利键盘</a></li>
                                        </ul>
                                        <ul class="menu"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner">
                            <img src="http://img.tugou.com/group/joinus.jpg"></div>
                        <div class="content">
                            <div class="joinus">
                                <ul class="join">
                                    <li class="on">社会招聘
                                        <p></p>
                                    </li>
                                    <li class="school">校园招聘
                                        <p></p>
                                    </li>
                                </ul>
                                <div class="recruit">
                                    <ul class="recruit-ul">
                                        <li>
                                            <div class="list-li">
                                                <a class="job">CEO助理
                                                    <!-- <span class="english">人事行政</span> --></a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=CEO助理" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、协助CEO参与项目推进及过程跟踪及管理；</p>
                                                    <p class="job-list">2、协助CEO进行内部机制优化；</p>
                                                    <p class="job-list">3、协助CEO公司进行品牌宣传工作；</p>
                                                    <p class="job-list">4、负责制定公司项目战略发展计划并实施落地，推动企业战略经营目标的实现；</p>
                                                    <p class="job-list">5、协调各个事业部，负责对内对外项目的运营跟进。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、本科及以上学历，3年以上互联网产品运营相关经验，有项目管理经验者优先；</p>
                                                    <p class="job-list">2、具备良好的沟通协调能力，较强的理解能力和学习能力；</p>
                                                    <p class="job-list">3、有部门流程制度搭建的职业化能力，有良好的战略规划、统筹分析能力；</p>
                                                    <p class="job-list">4、工作细心，认真勤奋，责任感强，抗压能力强，有良好的应变能力以及独立解决问题能力。</p>
                                                    <p class="job-list">5、能适应出差。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">COO助理</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=COO助理" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、协助运营总监日常工作安排的督办、落实及反馈工作；</p>
                                                    <p class="job-list">2、协助COO建立健全相关运营机制；</p>
                                                    <p class="job-list">3、负责运营内部的数据分析，并实时向运营总监进行反馈；</p>
                                                    <p class="job-list">4、负责职能部门与运营部门间工作协调；</p>
                                                    <p class="job-list">5、负责协助有关会议的会务安排事宜，记录、整理会议纪要，并根据需要撰写邮件、公文 、报告等各种文件。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、全日制本科及以上学历；</p>
                                                    <p class="job-list">2、2年左右互联网经验，有同岗位工作经验者优先；</p>
                                                    <p class="job-list">3、形象气质佳、普通话标准，具备良好的沟通协调能力，较强的理解能力和学习能力；</p>
                                                    <p class="job-list">4、有一定文字功底，熟练使用办公软件及操作办公自动化设备；</p>
                                                    <p class="job-list">5、工作细心，认真勤奋，责任感强，抗压能力强，有良好的应变能力以及独立解决问题能力；</p>
                                                    <p class="job-list">6、能适应偶尔出差。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">商务专员</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=商务专员" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、商家维护
                                                        <br/>&emsp;（1）线上推广：PC端、移动端；
                                                        <br/>&emsp;（2）线下宣传：产品手册、展位布置、现场出样、抽奖礼品；
                                                        <br/>&emsp;（3）接单能力：活动方案策划、砍价人员培训、导购说辞；
                                                        <br/>&emsp;（4）成交能力：跟单、门店活动策划、专场；
                                                        <br/>&emsp;（5）口碑维护：投诉处理、客户二次开发、线上活动（比如微信活动等）。</p>
                                                    <p class="job-list">2、商家续约
                                                        <br/>&emsp;（1）签约；
                                                        <br/>&emsp;（2）收款。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、市场营销、电子商务或相关专业大专以上学历应届生；</p>
                                                    <p class="job-list">2、受过市场营销、客户服务、商务谈判以及消费者保护法等方面的培训；</p>
                                                    <p class="job-list">3、熟悉公司产品及相关产品的市场行情；</p>
                                                    <p class="job-list">4、良好的表达沟通能力、灵活的应变能力和谈判能力；</p>
                                                    <p class="job-list">5、具备互联网思维，帮助商家实施基于大数据的电子商务解决方案；</p>
                                                    <p class="job-list">6、熟练操作办公软件及PS应用软件；</p>
                                                    <p class="job-list">7、工作细致、认真负责；</p>
                                                    <p class="job-list">8、独立工作能力和团队合作精神；</p>
                                                    <p class="job-list">9、具有敬业精神。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">业务代表</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=业务代表" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、装修公司品牌的开拓、引进及维护管理；</p>
                                                    <p class="job-list">2、所属区域装修公司的品牌配置和优化；</p>
                                                    <p class="job-list">3、合作装修公司考察及筛选，为客户规划价值成长方向；</p>
                                                    <p class="job-list">4、根据公司需要制订并完成个人业绩指标；</p>
                                                    <p class="job-list">5、熟知家装行业的动态，学习产品知识，并且运用到实际工作中。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、热爱业务工作，勤于思考把握市场动机；</p>
                                                    <p class="job-list">2、具备良好的资源协调能力；</p>
                                                    <p class="job-list">3、和团队成员勤沟通与交流；</p>
                                                    <p class="job-list">4、明确目标，提高效果和效率；</p>
                                                    <p class="job-list">5、保持与合作伙伴的沟通交流，帮助他们解决实际的需求。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">大客户经理</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=大客户经理" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、主要负责工厂、总代理商家等大客户的开发，在上级的领导和监督下定期完成销售目标；</p>
                                                    <p class="job-list">2、根据潜在客户的信息，与客户进行良好地沟通，理解、洞察目标客户的潜在需求；</p>
                                                    <p class="job-list">3、根据客户的需求及时把产品、合作模式等与目标客户沟通、联系，并促成合作合同的签订；</p>
                                                    <p class="job-list">4、负责与公司相关负责人沟通和协商，确保客户需求得到满足；</p>
                                                    <p class="job-list">5、开发潜在优质客户，并对现有客户进行二次开发等。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、大专及以上学历，市场营销等相关专业优先；</p>
                                                    <p class="job-list">2、2年以上建材行业工作经验，业绩突出者优先；</p>
                                                    <p class="job-list">3、性格外向、反应敏捷、表达能力强，具有较强的沟通能力及交际技巧，具有亲和力；</p>
                                                    <p class="job-list">4、具备一定的市场分析及判断能力，良好的客户服务意识；</p>
                                                    <p class="job-list">5、有责任心、积极努力、能吃苦耐劳，能承受较大的工作压力；</p>
                                                    <p class="job-list">6、可以接受出差。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">PHP开发工程师</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=PHP开发工程师" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1.负责公司软件系统的服务端架构设计及API设计，以及代码实现；</p>
                                                    <p class="job-list">2.负责公司基于自有框架的软件系统的设计及实现；</p>
                                                    <p class="job-list">3.负责公司基于自有框架的业务通用组件的抽象、实现及文档撰写；</p>
                                                    <p class="job-list">4.发现产品缺陷，跟踪定位bug，协助开发工程师解决问题；</p>
                                                    <p class="job-list">5.对产品、流程提出持续性改进意见。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1.本科以上学历，1年以上互联网软件开发经验；</p>
                                                    <p class="job-list">2.精通PHP，熟悉常用设计模式和算法，深入了解PHP的性能优化；</p>
                                                    <p class="job-list">3.深入理解代码的健壮性，可读性及扩展性，熟悉代码规范及文档规范；</p>
                                                    <p class="job-list">4.熟悉MySQL数据库，掌握常规的数据库优化手段；</p>
                                                    <p class="job-list">5.具备较高的分析问题和处理问题的能力；</p>
                                                    <p class="job-list">6.具备高度责任感，良好的沟通能力、组织协调能力；</p>
                                                    <p class="job-list">7.具备较强的工作主动性和学习进取精神，对业界的最新技术发展动态有比较密切的关注。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">产品经理（移动）</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=产品经理（移动）" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、负责平台的在线产品规划与设计，并撰写产品设计需求文档，协调资源实现，推进进度；</p>
                                                    <p class="job-list">2、负责用户需求研究和行为研究，针对用户需求和体验，制定产品开发需求和计划，并对技术研发提出具体需求，确认具体开发方案，并负责相关项目验收；</p>
                                                    <p class="job-list">3、负责竞品研究，定期跟踪竞品发展状况、提供竞品分析报告，挖掘分析运营数据、做出清晰的线上线下运营规划，并制定合理的实施计划；</p>
                                                    <p class="job-list">4、负责用户的“拉新，转化，保活”措施，提升用户活跃度，维护用户生命期；</p>
                                                    <p class="job-list">5、建立有效的用户运营机制，搭建产品运营平台，收集用户反馈，优化产品体验，制定平台的发展规划和业绩指标，帮助产品快速迭代、不断优化。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、本科及以上学历，2年以上产品经验，熟悉移动端和web端产品设计；</p>
                                                    <p class="job-list">2、至少独立负责过一款成功的产品；</p>
                                                    <p class="job-list">3、独立工作能力较强，熟悉产品从设计到上线所有环节，包括需求分析、原型设计、需求设计、开发推进和产品迭代等完整产品环节；</p>
                                                    <p class="job-list">4、熟悉掌握axure、visio、mindmanager等产品工具的使用，对技术实现具和可行性、技术成本有良好评估能力；</p>
                                                    <p class="job-list">5、有较好的行业敏感度，具备产品运营意识，对产品品牌传播、口碑传播、产品运营推广，具备策略制定和执行能力；</p>
                                                    <p class="job-list">6、有互联网产品经验者优先。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">会展策划</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=会展策划" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、组织筛选家居行业的会展资料，收集、分析和整理展会信息；</p>
                                                    <p class="job-list">2、收集、整理客户信息，并开发、维护客户；</p>
                                                    <p class="job-list">3、联系、组织、安排展会（如报名、定制展位、宣传）等工作；</p>
                                                    <p class="job-list">4、负责会展及相关活动方案的制定，包括协调整合各方资源，确认和执行活动方案，对活动全流程进行组织管理；</p>
                                                    <p class="job-list">5、负责会展相关资料及宣传用品的设计和完成。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、2年以上相关会展策划工作经验，有家居行业工作经验者优先；</p>
                                                    <p class="job-list">2、有责任心，执行力强，有团队合作意识；</p>
                                                    <p class="job-list">3、了解家居行业展会的信息，有一定资源的优先；</p>
                                                    <p class="job-list">4、策划和参与过多次的行业会议，对于参加和举办展会有丰富的经验的优先。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">直播项目经理</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=直播项目经理" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、直播运营思路的制定、完善，推广策略的优化；</p>
                                                    <p class="job-list">2、负责原创的直播节目的策划制作，包括前期策划、制作；</p>
                                                    <p class="job-list">3、根据公司及平台发展需要，负责引进各类主播，为平台搭建完整的内容架构；</p>
                                                    <p class="job-list">4、社会化传播活动创意策划、撰写软文，事件营销策划和传播等。</p>
                                                    <p class="job-list">5、拓展业务范围，策划线上线下活动，对外关系的维护及拓展。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、两年以上互联网工作经验，熟悉互联网产品的运营方式和手段，有直播类项目的运营经验者优先；</p>
                                                    <p class="job-list">2、出色的理解能力、沟通能力、开拓能力和逻辑分析能力，有一定的营销推广经验；</p>
                                                    <p class="job-list">3、良好的团队管理及建设能力，能迅速适应初创项目的运作管理，高效推动团队发展；</p>
                                                    <p class="job-list">4、敏锐的行业触觉、快速的学习能力，拥有较强的问题分析及数据分析处理能力。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">项目运营经理</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=项目运营经理" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、负责城市o2o市场同类竞品和用户的了解及信息搜集，整合总部和本地化资源（线上线下），制定城市，行业，用户的运营策略及落地执行；</p>
                                                    <p class="job-list">2、根据公司战略和团队职能制定工作计划，带领团队策划并推进项目的有效实施；</p>
                                                    <p class="job-list">3、通过机制规则，数据运营，产品运营，社群用户成长体系，模式创新等不同方式完善城市的运营体系，提升平台用户数，支付渗透率和用户体验；</p>
                                                    <p class="job-list">4、结合本地化特色资源，推广策划和话题营销，提升平台在区域内和用户中的影响力；</p>
                                                    <p class="job-list">5、持续的产品和模式创新，沉淀城市项目运营的可复制模式。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、2年以上互联网或电商项目运营经验，有团购经验者优先；</p>
                                                    <p class="job-list">2、熟悉线上线下营销推广渠道的特性，对拼装团购业务和运营有独到的理解和思考；</p>
                                                    <p class="job-list">3、运营解决实际问题的经验；</p>
                                                    <p class="job-list">4、目标驱动力强，具备优秀的沟通能力和团队协作能力；</p>
                                                    <p class="job-list">5、具有推进力，不半途而废，相信只要找到正确的方法，没有解决不了的困难。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">电商运营经理</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=城市运营" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、负责公司电商运营项目的整体工作，策划总体营销方案，完成销售目标；</p>
                                                    <p class="job-list">2、负责公司各电子商务平台的规划、搭建与运营推广，提升公司品牌影响力，提高产品销售额；</p>
                                                    <p class="job-list">3、对官方商城、淘宝等平台网上店铺的IP、PV、销量、跳出率、地域分布、转化率等做出专业的数据分析，做好竞争对手网站的数据的采集、评估与分析；</p>
                                                    <p class="job-list">4、负责官方商城、淘宝等店铺的产品分析（商品定价、确定主推商品、分析销售情况）、产品销售（商品上架、商品销售、配合推广促销）、产品促销（策划活动方案、执行促销活动、协助促销宣传）、产品编辑、产品汇总建档等；</p>
                                                    <p class="job-list">5、有效整合公司的内、外部资源，通过合理的运营，提升产品市场占有率。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、2年以上电商平台（如天猫、京东等）运营工作经验，有相关行业从业经验者优先；</p>
                                                    <p class="job-list">2、精通电子商务平台各种营销工具的使用，熟悉独立B2C商城运作规则及推广模式，如淘宝、京东等；</p>
                                                    <p class="job-list">3、逻辑思维强，具备数据化运营经验，对于用户需求及消费者行为敏感；</p>
                                                    <p class="job-list">4、思路清晰，有敏锐的电商洞察力，具备较强的团队管理能力及沟通谈判能力。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">网络推广</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=网络推广" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">职位描述：</p>
                                                    <p class="job-list">1、熟练利用各种互联网资源开展网站推广工作，提高公司网站访问量、注册量及传播效果，不断开发并整合更多更好的推广资源；</p>
                                                    <p class="job-list">2、充分理解公司的需求，对公司网站、活动内容进行挖掘和包装；</p>
                                                    <p class="job-list">3、根据公司目标确定推广目标，策划并调整推广方案，通过对推广资源数据及客户反馈的分析；</p>
                                                    <p class="job-list">4、充实公司网站内容，参与论坛管理，与注册会员形成良好沟通；</p>
                                                    <p class="job-list">5、协同产品部门策划、推广和执行网站活动。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职要求：</p>
                                                    <p class="job-list">1、热爱互联网，了解网络文化以及网络语言；</p>
                                                    <p class="job-list">2、有一定数据分析能力，具备活动运营组织能力；</p>
                                                    <p class="job-list">3、工作细致、耐心，创新意识强，执行力佳；</p>
                                                    <p class="job-list">4、拥有强烈的责任心和团队合作精神，注重实施和结果。</p>
                                                    <p class="job-list">5、良好的逻辑思维能力，做事有条理，较好的时间管理能力。</p></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="recruit-ul" style="display: none;">
                                        <li>
                                            <div class="list-li">
                                                <a class="job">管理培训生</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=管理培训生" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">岗位职责：</p>
                                                    <p class="job-list">为适应飞速发展的需要，为公司的运营管理岗位进行人才储备和输送，CityTogo推出管理培训生项目，每位管理培训生都有明确的职业发展方向，在工作中学习专业知识，从实干中增长才能；同时定期与公司管理层沟通交流，分享经验，从职场新人成长为独当一面的专家或管理人才。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职资格：</p>
                                                    <p class="job-list">1、对互联网行业有浓厚的兴趣；</p>
                                                    <p class="job-list">2、较强的自我完善和学习能力；</p>
                                                    <p class="job-list">3、具备良好的沟通能力与亲和力，能够独立与用户沟通，并具备总结问题和解决问题的能力；</p>
                                                    <p class="job-list">4、为人乐观向上，工作有激情，勇于承担压力。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">会计助理（应届）</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=会计助理（应届）" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">岗位职责：</p>
                                                    <p class="job-list">1、开具及保管发票等相关工作的完成；</p>
                                                    <p class="job-list">2、草拟合同等合同相关工作的完成；</p>
                                                    <p class="job-list">3、协助票据传递等票据相关工作的完成；</p>
                                                    <p class="job-list">4、协助简单账务处理及财务管理相关工作；</p>
                                                    <p class="job-list">5、部门安排的其他工作。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职资格：</p>
                                                    <p class="job-list">1、杭州地区大学一本财务类专业2016届应届生，专业排名年级前10%；</p>
                                                    <p class="job-list">2、勇于突破，敢于直面挑战，强烈的学习意愿和进取心，拥有极佳的团队协作精神。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">用户运营助理</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=用户运营助理" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">岗位职责：</p>
                                                    <p class="job-list">1、维护产品口碑与个人、用户的关系，能积极地了解和发掘客户再次需求及购买愿望，维护好客户关系,全面介绍公司关联产品；</p>
                                                    <p class="job-list">2、负责具体业务方案的实施和落地，对运营方案的落地结果负责；</p>
                                                    <p class="job-list">3、负责目标用户运营，对用户群体进行细分、挖掘、引导、培养和维护；</p>
                                                    <p class="job-list">4、合理安排服务资源，投诉处理、客户咨询等相关业务，记录并及时反馈客户需求，推进产品优化。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职资格：</p>
                                                    <p class="job-list">1、大专及以上学历，有家装公司从业经历，熟悉互联网行业者优先；</p>
                                                    <p class="job-list">2、性格活泼开朗，团队合作意识强；沟通、协调能力强；责任心强；</p>
                                                    <p class="job-list">3、有耐心，应变能力强，具有解决问题的技巧；</p>
                                                    <p class="job-list">4、具有极高的工作热情，具备创业精神。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">商务助理</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=商务助理" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">岗位职责：</p>
                                                    <p class="job-list">1、商务对接：负责与合作供应商对接，收集、整理、优化供应商活动方案，制作线上线下宣传资料，及时跟踪活动方案反馈效果，做出调整；</p>
                                                    <p class="job-list">2、商务维护：与客户建立长久客群关系，挖掘客户需求，根据公司产品特性，进行顾问式服务；</p>
                                                    <p class="job-list">3、商务信息：负责商业情报的收集，研究市场宏观方面的信息，包含市场动态、竞争品牌动向、产品与市场信息；</p>
                                                    <p class="job-list">4、口碑维护：负责处理平台的投诉，对平台的服务质量和用户满意度负责。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职资格：</p>
                                                    <p class="job-list">1、本科学历；</p>
                                                    <p class="job-list">2、具有良好的商务意识和服务意识；</p>
                                                    <p class="job-list">3、有责任心和上进心，乐于学习新事物并善于思考；</p>
                                                    <p class="job-list">4、具有清晰的逻辑思维、良好的沟通能力和表达能力，耐心、细心；</p>
                                                    <p class="job-list">5、熟练使用OFFICE办公软件，会基础PS软件的操作；</p>
                                                    <p class="job-list">6、有互联网行业客户关系维护工作经验者优先。</p></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-li">
                                                <a class="job">业务助理</a>
                                                <a class="jianli"></a>
                                                <a href="mailto:hr@citytogo.com?subject=业务助理" class="Highlight">投递简历</a>
                                                <a class="open">&nbsp;</a></div>
                                            <div class="recruit-body">
                                                <div class="recruit-left">
                                                    <p class="miaoshu">岗位职责：</p>
                                                    <p class="job-list">1、了解装修公司品牌名称，熟知互联网家装行业动态；</p>
                                                    <p class="job-list">2、城市开拓，寻找潜在合作伙伴；</p>
                                                    <p class="job-list">3、学习并且熟知施工各流程，能够独立完成装修公司初步考察；</p>
                                                    <p class="job-list">4、具有强烈的学习意愿和执行力。</p></div>
                                                <div class="recruit-right">
                                                    <p class="miaoshu">任职资格：</p>
                                                    <p class="job-list">1、对工作有热情，善于提出问题，寻求解决方法；</p>
                                                    <p class="job-list">2、乐于与人交流，具备良好的服务意识；</p>
                                                    <p class="job-list">3、具备良好的职业操守，诚实守信，坚忍不拔；</p>
                                                    <p class="job-list">4、善于与同事去分享，并且接受挑战，好学上进。</p></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="links-footer">
                            <div class="footer">
                                <div class="links-left">
                                    <p>Copyright © 兔狗科技 citytogo.com All Rights Reserved</p>
                                    <p>浙B2-20100290&nbsp;&nbsp;
                                        <span class="beian"></span>浙公网安备 33010302002149号</p></div>
                                <div class="links-right">
                                    <a>
                                    </a>
                                    <a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </body>
                    
                    </html>
