<!DOCTYPE html>
<!--[if IE 6]>
    <html lang="zh-cn" class="ielt7  ielt8  ielt9 ielt10 ">
    <![endif]-->
    <!--[if IE 7]>
        <html lang="zh-cn" class="ie7  ielt8  ielt9 ielt10">
        <![endif]-->
        <!--[if IE 8 ]>
            <html lang="zh-cn" class="ie8 ielt9 ielt10">
            <![endif]-->
            <!--[if IE 9 ]>
                <html lang="zh-cn" class="ie9 ielt10">
                <![endif]-->
                <!--[if (gt IE 9)|!(IE)]>
                    <!-->
                    <html lang="zh-cn">
                    <!--<![endif]-->
                    
                    <head>
                        <meta charset="utf-8">
                        <title>嘉林花园别墅美式全包25.6万-居然之家</title>
                        <meta name="keywords" content="别墅美式-居然之家" />
                        <meta name="description" content="别墅美式 由居然之家负责设计施工，别墅美式 每一处的装修细节都是经过居然之家细心设计和施工的。装修选择居然之家，就是选择放心!" />
                        <meta name="applicable-device" content="pc" />
                        <meta http-equiv="Cache-Control" content="no-siteapp" />
                        <meta http-equiv="Cache-Control" content="no-transform" />
                        <meta name="mobile-agent" content="format=html5;url=http://m.tugou.com/bj/realcase/1393/" />
                        <link rel="alternate" media="only screen and (max-width:750px)" href="http://m.tugou.com/bj/realcase/1393/" />
                        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                        <link rel="shortcut icon" href="/favicon.ico" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/layouts/page_header.css" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/layouts/page_footer.css" />
                        <link rel="stylesheet" type="text/css" href="http://static.tugou.com/css/dpl.css" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/lib/footer.css" />
                        <script type="text/javascript" src="http://static.tugou.com/js/mtogo.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/lib/jquery-1.11.3.min.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/lib/jquery.lazyload.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/ga.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/validate/jquery.validate.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/placeholder.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/switch.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/fixItem.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/city_list.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/form_select_controller.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/common.js"></script>
                        <script type="text/javascript">/* lazy load */
                            jQuery(document).ready(function($) {
                                $("img").lazyload({
                                    placeholder: "http://img.tugou.com/themes/default/grey.gif",
                                    effect: "fadeIn",
                                    threshold: 200
                                });
                            });</script>
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/lib/apply-form.css">
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/components/arrow.css">
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/provider/pd-nav.css" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/provider/pd-common.css" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/provider/pd-casedetail.css" />
                        <script type="text/javascript" src="http://static.tugou.com/js/provider/pd-common.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/provider/pd-casedetail.js"></script>
                        <script type="text/javascript">/* lazy load */
                            jQuery(document).ready(function($) {
                                $("img").lazyload({
                                    placeholder: "http://img.tugou.com/themes/default/grey.gif",
                                    effect: "fadeIn",
                                    threshold: 200
                                });
                            });</script>
                    </head>
                    
                    <body>
                        <!-- 兔狗主页导航栏 -->
                        <nav class="tugou-new-nav">
                            <div class="nav-body">
                                <ul>
                                    <li class="nav-logo">
                                        <a href="http://www.tugou.com/">
                                            <span></span>
                                        </a>
                                    </li>
                                    <li class="nav-cell" data-id="index">
                                        <a href="http://www.tugou.com/">首页</a></li>
                                    <li class="nav-cell" data-id="meitu">
                                        <a href="http://meitu.tugou.com">装修效果图</a></li>
                                    <li class="nav-cell" data-id="jy">
                                        <a href="http://www.tugou.com/jy/">装修经验</a></li>
                                    <li class="nav-cell" data-id="realcase">
                                        <a href="http://www.tugou.com/realcase/">装修实景</a></li>
                                    <li class="nav-cell" data-id="provider">
                                        <a href="/provider/">装修公司</a></li>
                                    <li class="nav-cell" data-id="keeper">
                                        <a href="http://www.tugou.com/free/guanjia/">装修管家</a></li>
                                    <li class="nav-cell" data-id="jiancai">
                                        <a href="http://www.citytogo.com.cn/baoming/hangzhou/jiancai.html" target="_blank">团购建材</a></li>
                                    <!-- <li class="nav-cell" data-id="product"><a href="/product/">整体装</a></li> -->
                                    <!-- <li class="nav-cell" data-id="principal"><a href="/principal/">主材包</a></li> --></ul>
                                <div class="nav-mobile">
                                    <span data-icon="mobile"></span>
                                    <span role="desc">手机兔狗</span>
                                    <div class="dim-code">
                                        <img src="http://img.tugou.com/index/app_code.jpg" border="0" alt="装修网">
                                        <p>下载APP 找装修更轻松</p>
                                        <img src="http://img.tugou.com/index/app_weixin.jpg" border="0" alt="装修网">
                                        <p>兔狗家装官方微客服</p>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <div class="pd-header">
                            <!-- 兔狗主页导航栏 -->
                            <!-- <div class="pd-for-nav"></div> -->
                            <!-- 面包屑导航主页样式 -->
                            <div class="crumbs">
                                <a href="/">北京装修网</a>
                                <span class="sep">&gt;</span>
                                <a href="/provider/">北京装修公司</a>
                                <span class="sep">&gt;</span>
                                <a href="/provider/1053/">居然之家</a>
                                <span class="sep">&gt;</span>
                                <a href="/realcase/1053/">装修实景列表</a>
                                <span class="sep">&gt;</span>
                                <a href="/realcase/1393.html">
                                    <span class="btn-crumbs">嘉林花园·别墅·美式·全包25.6万
                                        <i class="i-del"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="pd-main">
                            <div class="pd-case-content">
                                <p class="pd-c-title">嘉林花园·别墅·美式·全包25.6万</p>
                                <figure class="pd-owner">
                                    <h2 class="pd-title" style="margin:85px 0 75px">户型解读</h2></figure>
                                <figure class="pd-c-layout">
                                    <img src="http://pic.tugou.com/realcase/20160624182257_9014.png" alt="用户设计图">
                                    <figcaption>
                                        <span class="pd-quota left">“</span>情趣是漫漫生活中的调味剂，或火辣烧喉，或甜美红脸，总是在一个不经意的回首触动直达心脏，萦绕不散。
                                        <span class="pd-quota right">”</span></figcaption>
                                </figure>
                                <h2 class="pd-title" style="margin-bottom: 75px;">完工全景</h2>
                                <figure class="pd-c-item">
                                    <img src="http://pic.tugou.com/realcase/20160624182314_6871.jpeg" alt="设计图">
                                    <figcaption>
                                        <span class="pd-page-number">1</span>
                                        <p class="pd-img-desc">钢琴的黑白琴键弹奏出乐章，恰如两组黑白沙发承载着人言暖语。</p></figcaption>
                                </figure>
                                <figure class="pd-c-item">
                                    <img src="http://pic.tugou.com/realcase/20160624182326_7293.jpeg" alt="设计图">
                                    <figcaption>
                                        <span class="pd-page-number">2</span>
                                        <p class="pd-img-desc">纱白窗帘柔和了刺眼的阳光，也温柔了岁月。</p></figcaption>
                                </figure>
                                <figure class="pd-c-item">
                                    <img src="http://pic.tugou.com/realcase/20160624182348_2696.jpeg" alt="设计图">
                                    <figcaption>
                                        <span class="pd-page-number">3</span>
                                        <p class="pd-img-desc">进食是一种古老而郑重的仪式，一筷一箸摄取自然的生命力。</p></figcaption>
                                </figure>
                                <figure class="pd-c-item">
                                    <img src="http://pic.tugou.com/realcase/20160624182358_1552.jpeg" alt="设计图">
                                    <figcaption>
                                        <span class="pd-page-number">4</span>
                                        <p class="pd-img-desc">高低错落摆放瓶瓶罐罐，目光跳跃也能在心底哼唱愉快的小曲。</p></figcaption>
                                </figure>
                                <figure class="pd-c-item">
                                    <img src="http://pic.tugou.com/realcase/20160624182409_8254.jpeg" alt="设计图">
                                    <figcaption>
                                        <span class="pd-page-number">5</span>
                                        <p class="pd-img-desc">私密的谈话坐躺随意，四肢摩擦着柔软的地毯，心房悄悄打开。</p></figcaption>
                                </figure>
                                <figure class="pd-c-item">
                                    <img src="http://pic.tugou.com/realcase/20160624182419_8973.jpeg" alt="设计图">
                                    <figcaption>
                                        <span class="pd-page-number">6</span>
                                        <p class="pd-img-desc">装饰品一定要分类摆放整齐，闪闪惹人爱。</p></figcaption>
                                </figure>
                                <figure class="pd-c-item">
                                    <img src="http://pic.tugou.com/realcase/20160624182429_4939.jpeg" alt="设计图">
                                    <figcaption>
                                        <span class="pd-page-number">7</span>
                                        <p class="pd-img-desc">紫罗兰和轻纱的搭配满足了一切对于小公主骄纵的幻想。</p></figcaption>
                                </figure>
                                <figure class="pd-c-item">
                                    <img src="http://pic.tugou.com/realcase/20160624182442_5353.jpeg" alt="设计图">
                                    <figcaption>
                                        <span class="pd-page-number">8</span>
                                        <p class="pd-img-desc">脚踩毛绒绒的地毯，一个人对着镜子练习酒会的舞步。</p></figcaption>
                                </figure>
                                <figure class="pd-c-item">
                                    <img src="http://pic.tugou.com/realcase/20160624182453_9487.jpeg" alt="设计图">
                                    <figcaption>
                                        <span class="pd-page-number">9</span>
                                        <p class="pd-img-desc">树木是年轮的史官，书籍是历史的馈赠，书页翻动传来古人智慧的低语。</p></figcaption>
                                </figure>
                                <figure class="pd-c-item">
                                    <img src="http://pic.tugou.com/realcase/20160624182504_1300.jpeg" alt="设计图">
                                    <figcaption>
                                        <span class="pd-page-number">10</span>
                                        <p class="pd-img-desc">对镜理仪容，每一张裙摆都要划出完美的弧度再踏出浴室。</p></figcaption>
                                </figure>
                                <!-- <div class="pd-c-page">
                                <p class="pd-btn"><span class="pd-icon-prev"></span>上一篇:<a class="pd-prev" href=""></a></p>
                                <p class="pd-btn"><span class="pd-icon-next"></span>下一篇:<a class="pd-next" href=""></a></p></div>-->
                            </div>
                            <div class="pd-right-bar">
                                <div class="pd-keeper">
                                    <img class="user-head" src="http://pic.tugou.com/crm_admin_avator/1469170369_1972287.jpeg" alt="装修管家">
                                    <p class="pd-keeper-name">装修管家
                                        <a role="name">小月</a></p>
                                    <img class="keeper-dimcode" src="http://pic.tugou.com/crm_admin_avator/1469167889_4294261.jpeg" alt="装修二维码">
                                    <p>扫我立即获取装修清单</p>
                                </div>
                                <div class="pd-applyfix">
                                    <div class="aside-apply">
                                        <h3>个性定制我的家</h3>
                                        <p class="title sm pd-apply-title">免费获取3套设计方案，省40%装修款</p>
                                        <div class="apply_form">
                                            <input name="apply_type" type="hidden" value="12" />
                                            <input name="name" type="text" placeholder="您的姓名" />
                                            <input name="phone" type="text" placeholder="手机号码" />
                                            <div class="select-group clearfix js-region-select-group">
                                                <select class="js-province" name="province" id="province">
                                                    <option value="">省/市</option></select>
                                                <select class="js-city" name="city" id="city">
                                                    <option value="">市/地区</option></select>
                                            </div>
                                            <input name="apply" type="button" value="立即获取" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <link type="text/css" rel="stylesheet" href="//at.alicdn.com/t/font_1463989160_300939.css" />
                        <link type="text/css" rel="stylesheet" href="//static.tugou.com/common/consult/aside-consult-v4.css?ver=4.0.0" />
                        <!-- side bar -->
                        <a id='bj-jzj' href="http://tuan.tugou.com/beijing/togojzj.html" target="_blank">
                            <img src="http://img.tugou.com/images/bj-jzj-float.png" /></a>
                        <div class="side" style="right:10px;">
                            <div class="side-con">
                                <div id="kefu-close">x</div>
                                <div class="kefu-notice" id="kefu-notice" onclick="nTalk.im_openInPageChat();">
                                    <div id="sequence-0" class="sequence">
                                        <div id="sequence-0-big" class="sequence-big" style="display:block">
                                            <img src="//static.tugou.com/common/consult/img/company-v4.png" /></div>
                                        <div id="sequence-0-small" style="display:none">
                                            <img src="//static.tugou.com/common/consult/img/company-small-v4.png" /></div>
                                    </div>
                                    <div id="sequence-1" class="sequence">
                                        <div id="sequence-1-big" class="sequence-big">
                                            <img src="//static.tugou.com/common/consult/img/material-v4.png" /></div>
                                        <div id="sequence-1-small">
                                            <img src="//static.tugou.com/common/consult/img/material-small-v4.png" /></div>
                                    </div>
                                    <div id="sequence-2" class="sequence">
                                        <div id="sequence-2-big" class="sequence-big">
                                            <img src="//static.tugou.com/common/consult/img/design-v4.png" /></div>
                                        <div id="sequence-2-small">
                                            <img src="//static.tugou.com/common/consult/img/design-small-v4.png" /></div>
                                    </div>
                                    <div id="sequence-3" class="sequence">
                                        <div id="sequence-3-big" class="sequence-big">
                                            <img src="//static.tugou.com/common/consult/img/offer-v4.png" /></div>
                                        <div id="sequence-3-small">
                                            <img src="//static.tugou.com/common/consult/img/offer-small-v4.png" /></div>
                                    </div>
                                </div>
                                <div id="kefu-online" style="display:none" onclick="nTalk.im_openInPageChat();">
                                    <img src="http://img.tugou.com/consultant/consult-online.png"></div>
                                <div class="icon-btn iconfont icon-huidaodingbu back-top" style="display:none">返回顶部</div></div>
                        </div>
                        <script type="text/javascript" src="//static.tugou.com/common/consult/aside-consult-v4.js?ver=4.0.0"></script>
                        <script type="text/javascript" src="http://dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9262" charset="utf-8"></script>
                        <!-- 北京家装节活动导航图 -->
                        <style type="text/css">#bj-jzj { display: none; position: fixed; top: 300px; right: 0; }</style>
                        <script type="text/javascript">$(function() {
                                var wWidth = $(window).width();
                                var rVal = 5;
                                for (var i = 1400; i <= wWidth; i += 100) {
                                    rVal += 15;
                                }
                                $("#bj-jzj").css('right', $('.side').css('right'));
                                var href = window.location.href;
                                if (href.indexOf('://') != -1) {
                                    href = href.split('://')[1];
                                }
                                if (href.split('.')[0] == 'bj') {
                                    $('#bj-jzj').show();
                                }
                            })</script>
                        <!--底部-->
                        <div class="footer">
                            <div class="border">
                                <div class="four-good main-cont">
                                    <div class="item1">
                                        <p>好设计</p>
                                        <p>优秀设计，实景体验</p>
                                    </div>
                                    <div class="item2">
                                        <p>好材料</p>
                                        <p>优质主材，源头直供</p>
                                    </div>
                                    <div class="item3">
                                        <p>好施工</p>
                                        <p>标准工艺，严苛施工</p>
                                    </div>
                                    <div class="item4">
                                        <p>好服务</p>
                                        <p>装修管家，专业服务</p>
                                    </div>
                                </div>
                            </div>
                            <div class="web-map main-cont clearfix">
                                <div class="item fn-left">
                                    <div class="map padTop10 fn-left">
                                        <p>关于我们</p>
                                        <div>
                                            <a href="http://www.citytogo.com/about.html" rel="nofollow" target="_blank">关于兔狗</a>
                                            <a href="http://www.citytogo.com/workspace.html" rel="nofollow" target="_blank">加入我们</a>
                                            <a href="http://www.citytogo.com/contactus.html" rel="nofollow" target="_blank">联系我们</a></div>
                                    </div>
                                    <div class="map padTop10 fn-left">
                                        <p>网站服务</p>
                                        <div>
                                            <a href="http://www.tugou.com/free/yanfang/" target="_blank">免费验房</a>
                                            <a href="http://www.tugou.com/free/sheji/" target="_blank">免费设计报价</a>
                                            <a href="http://www.tugou.com/free/jianli/" target="_blank">免费监理</a></div>
                                    </div>
                                    <div class="map padTop10 fn-left">
                                        <p>网站帮助</p>
                                        <div>
                                            <a href="http://www.tugou.com/map/">网站地图</a>
                                            <a>意见反馈</a>
                                            <a href="http://www.citytogo.com/copyright.html">版权声明</a></div>
                                    </div>
                                </div>
                                <div class="item contact fn-right">
                                    <p>客服热线：
                                        <span>400 8617 000</span></p>
                                    <p>商家加盟：
                                        <span>18958057436</span></p>
                                    <a onclick="nTalk.im_openInPageChat();">在线咨询</a></div>
                                <div class="item code fn-right">
                                    <a>
                                        <img src="http://img.tugou.com/index/app_code.jpg" border="0" alt="兔狗家装APP"></a>
                                    <p>下载兔狗家装APP</p>
                                </div>
                            </div>
                        </div>
                        <!-- page footer link -->
                        <div class="footer-links">
                            <div class="links">
                                <div class="links-footer">
                                    <div class="links-left">
                                        <p>Copyright © 兔狗家装 tugou.com All Rights Reserved</p>
                                        <!-- <p>浙B2-20160115&nbsp;&nbsp;<span class="beian"></span>浙公网安备 33010302001742号</p> -->
                                        <p>浙ICP备14016529号&nbsp;&nbsp;
                                            <span class="beian"></span>浙公网安备 33010302001742号</p></div>
                                    <div class="links-right">
                                        <a>
                                        </a>
                                        <a id='___szfw_logo___' href='https://credit.szfw.org/CX20151215012655370386.html' target='_blank' rel=”nofollow”></a>
                                        <a>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style type="text/css">.beian{ width: 15px; height: 15px; display: inline-block; background: url(http://img.tugou.com/index/footer-beian.png) no-repeat; background-size: 100%; position: relative; top: 2px; }</style>
                        <div style="position:absolute; width:0px; height:0px; z-index:1; display:none">
                            <script src="http://s4.cnzz.com/z_stat.php?id=1255110144&web_id=1255110144" language="JavaScript"></script>
                            <script src="http://s4.cnzz.com/z_stat.php?id=1255110161&web_id=1255110161" language="JavaScript"></script>
                            <!--PC/移动端加百度统计代码：-->
                            <script>var _hmt = _hmt || []; (function() {
                                    var hm = document.createElement("script");
                                    hm.src = "//hm.baidu.com/hm.js?dc5a135b405f74dc32ec7a6e5e1f5716";
                                    var s = document.getElementsByTagName("script")[0];
                                    s.parentNode.insertBefore(hm, s);
                                })();</script>
                            <script>document.write(unescape("%3Cscript src='//hm.baidu.com/hm.js?da71bb527e7fbe36ed37986b221b9730' type='text/javascript'%3E%3C/script%3E"));
                                window._pt_lt = new Date().getTime();
                                window._pt_sp_2 = [];
                                _pt_sp_2.push('setAccount,297b9515');
                                var _protocol = (("https:" == document.location.protocol) ? " https://": " http://"); (function() {
                                    var atag = document.createElement('script');
                                    atag.type = 'text/javascript';
                                    atag.async = true;
                                    atag.src = _protocol + 'js.ptengine.cn/pta.js';
                                    var stag = document.createElement('script');
                                    stag.type = 'text/javascript';
                                    stag.async = true;
                                    stag.src = _protocol + 'js.ptengine.cn/pts.js';
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(atag, s);
                                    s.parentNode.insertBefore(stag, s);
                                })();</script>
                        </div>
                        <script type="text/javascript" src="http://static.tugou.com/js/nav.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/city/ProvinceJson.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/city/CityJson.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/cascadingRegion.js"></script>
                    </body>
                    
                    </html>
