<!DOCTYPE html>
<!--[if IE 6]>
    <html lang="zh-cn" class="ielt7  ielt8  ielt9 ielt10 ">
    <![endif]-->
    <!--[if IE 7]>
        <html lang="zh-cn" class="ie7  ielt8  ielt9 ielt10">
        <![endif]-->
        <!--[if IE 8 ]>
            <html lang="zh-cn" class="ie8 ielt9 ielt10">
            <![endif]-->
            <!--[if IE 9 ]>
                <html lang="zh-cn" class="ie9 ielt10">
                <![endif]-->
                <!--[if (gt IE 9)|!(IE)]>
                    <!-->
                    <html lang="zh-cn">
                    <!--<![endif]-->
                    
                    <head>
                        <meta charset="utf-8">
                        <meta name="mobile-agent" content="format=html5;url=http://m.tugou.com/realcase/" />
                        <link rel="alternate" media="only screen and (max-width:750px)" href="http://m.tugou.com/realcase/" />
                        <meta name="applicable-device" content="pc" />
                        <meta http-equiv="Cache-Control" content="no-siteapp" />
                        <meta http-equiv="Cache-Control" content="no-transform" />
                        <title>【装修案例】装修实景案例大全|兔狗家装</title>
                        <meta name="keywords" content="装修案例 , 装修实景案例大全 , 兔狗家装" />
                        <meta name="description" content="装修案例大全由兔狗家装提供，装修实景案例效果图中每一个装修案例都是装修公司的良心作品。装修选择兔狗家装，就是选择更多优质装修公司!" />
                        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                        <link rel="shortcut icon" href="/favicon.ico" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/layouts/page_header.css" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/layouts/page_footer.css" />
                        <link rel="stylesheet" type="text/css" href="http://static.tugou.com/css/dpl.css" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/lib/footer.css" />
                        <script type="text/javascript" src="http://static.tugou.com/js/mtogo.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/lib/jquery-1.11.3.min.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/lib/jquery.lazyload.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/ga.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/validate/jquery.validate.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/placeholder.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/switch.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/fixItem.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/city_list.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/components/form_select_controller.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/common.js"></script>
                        <script type="text/javascript">/* lazy load */
                            jQuery(document).ready(function($) {
                                $("img").lazyload({
                                    placeholder: "http://img.tugou.com/themes/default/grey.gif",
                                    effect: "fadeIn",
                                    threshold: 200
                                });
                            });</script>
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/lib/apply-form.css">
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/components/arrow.css">
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/provider/pd-nav.css" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/provider/pd-common.css" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/provider/pd-index.css" />
                        <link type="text/css" rel="stylesheet" href="http://static.tugou.com/css/provider/pd-channel.css" />
                        <script type="text/javascript" src="http://static.tugou.com/js/provider/pd-common.js"></script>
                        <script type="text/javascript" src="http://static.tugou.com/js/provider/pd-index.js"></script>
                        <script type="text/javascript">/* lazy load */
                            jQuery(document).ready(function($) {
                                $("img").lazyload({
                                    placeholder: "http://img.tugou.com/themes/default/grey.gif",
                                    effect: "fadeIn",
                                    threshold: 200
                                });
                            });</script>
                    </head>
                    
                    <body>
                        <!--吊顶-->
                        <div class="roof">
                            <div class="content clearfix">
                                <div class="fn-left">
                                    <span class="address fn-left">&nbsp;</span>
                                    <span class="fn-left" id="current_city"></span>
                                    <div class="check-address fn-left">切换城市
                                        <div class="cities-list">
                                            <dl>
                                                <dt>[A-E]</dt>
                                                <dd>
                                                    <a href="http://bj.tugou.com/" title="北京装修网">北京站</a>
                                                    <a href="http://cd.tugou.com/" title="成都装修网">成都站</a>
                                                    <a href="http://cs.tugou.com/" title="长沙装修网">长沙站</a>
                                                    <a href="http://cx.tugou.com/" title="慈溪装修网">慈溪站</a>
                                                    <a href="http://cz.tugou.com/" title="常州装修网">常州站</a></dd>
                                            </dl>
                                            <dl>
                                                <dt>[F-H]</dt>
                                                <dd>
                                                    <a href="http://hz.tugou.com/" title="杭州装修网">杭州站</a>
                                                    <a href="http://fz.tugou.com/" title="福州装修网">福州站</a>
                                                    <a href="http://gz.tugou.com/" title="广州装修网">广州站</a>
                                                    <a href="http://gy.tugou.com/" title="贵阳装修网">贵阳站</a></dd>
                                            </dl>
                                            <dl>
                                                <dt>[J-L]</dt>
                                                <dd>
                                                    <a href="http://km.tugou.com/" title="昆明装修网">昆明站</a>
                                                    <a href="http://kq.tugou.com/" title="柯桥装修网">柯桥站</a>
                                                    <a href="http://jh.tugou.com/" title="金华装修网">金华站</a>
                                                    <a href="http://jx.tugou.com/" title="嘉兴装修网">嘉兴站</a>
                                                    <a href="http://ks.tugou.com/" title="昆山装修网">昆山站</a></dd>
                                            </dl>
                                            <dl>
                                                <dt>[M-Q]</dt>
                                                <dd>
                                                    <a href="http://mas.tugou.com/" title="马鞍山装修网">马鞍山站</a>
                                                    <a href="http://nj.tugou.com/" title="南京装修网">南京站</a>
                                                    <a href="http://nc.tugou.com/" title="南昌装修网">南昌站</a>
                                                    <a href="http://nb.tugou.com/" title="宁波装修网">宁波站</a>
                                                    <a href="http://qd.tugou.com/" title="青岛装修网">青岛站</a></dd>
                                            </dl>
                                            <dl>
                                                <dt>[R-T]</dt>
                                                <dd>
                                                    <a href="http://sh.tugou.com/" title="上海装修网">上海站</a>
                                                    <a href="http://su.tugou.com/" title="苏州装修网">苏州站</a>
                                                    <a href="http://sjz.tugou.com/" title="石家庄装修网">石家庄站</a>
                                                    <a href="http://sx.tugou.com/" title="绍兴装修网">绍兴站</a>
                                                    <a href="http://ty.tugou.com/" title="太原装修网">太原站</a>
                                                    <a href="http://tj.tugou.com/" title="天津装修网">天津站</a>
                                                    <a href="http://tz.tugou.com/" title="台州装修网">台州站</a></dd>
                                            </dl>
                                            <dl>
                                                <dt>[W-X]</dt>
                                                <dd>
                                                    <a href="http://wh.tugou.com/" title="武汉装修网">武汉站</a>
                                                    <a href="http://wx.tugou.com/" title="无锡装修网">无锡站</a>
                                                    <a href="http://xm.tugou.com/" title="厦门装修网">厦门站</a>
                                                    <a href="http://xa.tugou.com/" title="西安装修网">西安站</a>
                                                    <a href="http://zj.tugou.com/" title="镇江装修网">镇江站</a></dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <span class="border">全国领先互联网家装平台</span></div>
                                <ul class="login fn-right" id="roof-nav">
                                    <li id="login-link" class="word hide no-icon">
                                        <a href="http://www.tugou.com/passport/UserLogin/">登录</a></li>
                                    <li id="register-link" class="hide no-icon">
                                        <a href="http://www.tugou.com/passport/UserRegister/">免费注册</a></li>
                                    <li id="phone-link" class="phone">
                                        <a href="http://www.tugou.com/apps/pc_app.html" target="_blank">手机兔狗</a>
                                        <div class="code">
                                            <img src="http://img.tugou.com/index/app_code.jpg" border="0" alt="装修网">
                                            <p>下载APP 找装修更轻松</p>
                                            <img src="http://img.tugou.com/index/app_weixin.jpg" border="0" alt="装修网">
                                            <p>兔狗家装微信服务号</p>
                                        </div>
                                    </li>
                                    <li class="number">
                                        <a>400 8617 000</a>
                                    </li>
                                    <li class="baike">
                                        <a href="http://www.tugou.com/baike/" class="baike-1">装修百科</a>
                                        <a href="http://bbs.tugou.com/" class="forum">装修论坛</a></li>
                                </ul>
                            </div>
                        </div>
                        <script type="text/javascript" src="http://static.tugou.com/js/login.js"></script>
                        <!--logo head-->
                        <div class="logo-head">
                            <div class="content">
                                <div>
                                    <a href="http://www.tugou.com">
                                        <img src="http://img.tugou.com/index/tugou-logo.png" alt="兔狗家装互联网家装平台"></a>
                                    <img src="http://img.tugou.com/index/logo-word.png"></div>
                                <ul class="nav">
                                    <li data-tabid="index">
                                        <a href="http://www.tugou.com">首页</a></li>
                                    <li data-tabid="meitu">
                                        <a href="http://meitu.tugou.com/">装修效果图</a>
                                        <div class="second-nav">
                                            <a href="http://meitu.tugou.com/pic/">装修美图</a>
                                            <a href="http://meitu.tugou.com/case/">装修案例</a></div>
                                    </li>
                                    <li data-tabid="jy">
                                        <a href="http://www.tugou.com/jy/">装修经验</a></li>
                                    <li data-tabid="realcase">
                                        <a href="http://www.tugou.com/realcase/">装修实景
                                            <i class="hot"></i></a>
                                    </li>
                                    <li data-tabid="provider">
                                        <a href="http://www.tugou.com/provider/">装修公司</a></li>
                                    <li data-tabid="guanjia">
                                        <a href="http://www.tugou.com/free/guanjia/">装修管家</a></li>
                                    <li data-tabid="jiancai">
                                        <a href="http://tuan.tugou.com/" rel="nofollow">团建材家具</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="banner">
                            <img src="http://img.tugou.com/provider/case_banner.jpg"></div>
                        <div class="pd-main">
                            <div class="pd-main-body pd-channel">
                                <div class="crumbs">
                                    <!-- <a href="/">首页</a>
                                    <span class="sep">&gt;</span>           
                                    <a href="/realcase/"><span class="btn-crumbs">实景案例<i class="i-del"></i></span></a> --></div>
                                <!-- 实景案例 -->
                                <div class="pd-realcase active">
                                    <div class="pd-rc-case">
                                        <div class="pd-showcase">
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://bj.tugou.com/realcase/1393.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1466763930_2447433.jpeg@177h_299w_1e_1c" alt="别墅 美式 全包25.6"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">嘉林花园</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">别墅</span>
                                                                <span role="style">美式</span>
                                                                <span role="detail">全包25.6万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">2983</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://bj.tugou.com/realcase/1377.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1466599011_155315.jpeg@177h_299w_1e_1c" alt="四室两厅 美式 半包15"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">公主的裙摆</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">四室两厅</span>
                                                                <span role="style">美式</span>
                                                                <span role="detail">半包15万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">2863</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://hz.tugou.com/realcase/1371.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1466506575_4952851.jpeg@177h_299w_1e_1c" alt="四室两厅 欧式 半包12"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">权杖情结</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">四室两厅</span>
                                                                <span role="style">欧式</span>
                                                                <span role="detail">半包12万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">2604</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://hz.tugou.com/realcase/1194.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1464072949_7109308.jpeg@177h_299w_1e_1c" alt="四室两厅 美式 半包10.8"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">春之歌</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">四室两厅</span>
                                                                <span role="style">美式</span>
                                                                <span role="detail">半包10.8万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">3674</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://sh.tugou.com/realcase/1081.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1463196280_6637144.jpeg@177h_299w_1e_1c" alt="别墅 美式 半包20"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">明媚之于家</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">别墅</span>
                                                                <span role="style">美式</span>
                                                                <span role="detail">半包20万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">1374</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://hz.tugou.com/realcase/1080.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1463135825_5029345.jpeg@177h_299w_1e_1c" alt="三室两厅 美式 半包9.8"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">一见倾心</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">三室两厅</span>
                                                                <span role="style">美式</span>
                                                                <span role="detail">半包9.8万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">3372</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://sh.tugou.com/realcase/1030.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1461910460_5941345.jpeg@177h_299w_1e_1c" alt="两室两厅 简约 全包17"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">精灵跃动</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">两室两厅</span>
                                                                <span role="style">简约</span>
                                                                <span role="detail">全包17万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">4451</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://sh.tugou.com/realcase/1028.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1461902831_5945962.jpeg@177h_299w_1e_1c" alt="四室两厅 混搭 全包18"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">畅想多瑙河</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">四室两厅</span>
                                                                <span role="style">混搭</span>
                                                                <span role="detail">全包18万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">2551</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://sh.tugou.com/realcase/1014.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1461832693_3531449.jpeg@177h_299w_1e_1c" alt="别墅 美式 全包23"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">返璞归真</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">别墅</span>
                                                                <span role="style">美式</span>
                                                                <span role="detail">全包23万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">911</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://sh.tugou.com/realcase/1012.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1461832196_1068508.jpeg@177h_299w_1e_1c" alt="两室两厅 简约 全包17"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">云净天清</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">两室两厅</span>
                                                                <span role="style">简约</span>
                                                                <span role="detail">全包17万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">3592</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://sh.tugou.com/realcase/1011.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1461831929_1304617.jpeg@177h_299w_1e_1c" alt="两室两厅 美式 全包16"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">暖心天堂</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">两室两厅</span>
                                                                <span role="style">美式</span>
                                                                <span role="detail">全包16万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">1903</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- 频道页 新的case-item -->
                                            <a href="http://nb.tugou.com/realcase/970.html" target="_blank">
                                                <div class="case-item">
                                                    <div>
                                                        <img class="case-img" src="http://pic.tugou.com/realcase/1461547021_6553291.jpeg@177h_299w_1e_1c" alt="别墅 混搭 全包19"></div>
                                                    <div class="ch-case-footer">
                                                        <div class="ch-left">
                                                            <p class="ch-case-title">暖阳展颜</p>
                                                            <p class="ch-case-info">
                                                                <span role="construction">别墅</span>
                                                                <span role="style">混搭</span>
                                                                <span role="detail">全包19万</span></p>
                                                        </div>
                                                        <div class="ch-right">
                                                            <span class="ch-icon-foot"></span>
                                                            <p class="ch-dat-fork">1322</p></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- -->
                                        <div class="page">
                                            <p>
                                                <!-- -->
                                                <!-- -->
                                                <!-- -->
                                                <!---->
                                                <!-- -->
                                                <a class="btnpage on">1</a>
                                                <!-- -->
                                                <!---->
                                                <!-- -->
                                                <a class="btnpage" href="/realcase/p_2/">2</a>
                                                <!-- -->
                                                <!---->
                                                <!-- -->
                                                <a class="btnpage" href="/realcase/p_3/">3</a>
                                                <!-- -->
                                                <!---->
                                                <!-- -->
                                                <a class="btnpage" href="/realcase/p_4/">4</a>
                                                <!-- -->
                                                <!---->
                                                <!-- -->
                                                <a class="btnpage" href="/realcase/p_5/">5</a>
                                                <!-- -->
                                                <!---->
                                                <!-- -->
                                                <!--<em>···</em>-->
                                                <!-- -->
                                                <a href="/realcase/p_2/">下一页</a>
                                                <!-- -->
                                                <!-- -->
                                                <a href="/realcase/p_10/">末页</a>
                                                <!-- --></p>
                                        </div>
                                        <!-- --></div>
                                </div>
                                <div id="pd-fault-footer"></div>
                            </div>
                            <div class="pop_mask hide">
                                <div class="pop_box">
                                    <div class="title_box">
                                        <p class="title">免费为我做设计</p>
                                        <p class="subtitle">免费获取3份设计选取最满意设计稿</p></div>
                                    <div class="apply_form">
                                        <input name="apply_type" type="hidden" value="6">
                                        <input name="apply_provider" type="hidden" value="81">
                                        <input name="name" type="text" placeholder="您的姓名">
                                        <input name="phone" type="text" placeholder="手机号码">
                                        <div class="select">
                                            <div class="selected">
                                                <span>选择城市</span>
                                                <span>
                                                    <i class="arrow arrow_down"></i>
                                                </span>
                                            </div>
                                            <div class="select_option hide">
                                                <ul>
                                                    <div data-id="0">
                                                        <li class="options_title">A - E</li></div>
                                                    <div data-id="1">
                                                        <li class="options_title">F - H</li></div>
                                                    <div data-id="2">
                                                        <li class="options_title">J - L</li></div>
                                                    <div data-id="3">
                                                        <li class="options_title">M - Q</li></div>
                                                    <div data-id="4">
                                                        <li class="options_title">R - T</li></div>
                                                    <div data-id="5">
                                                        <li class="options_title">W - X</li></div>
                                                    <div data-id="6">
                                                        <li class="options_title">Y - Z</li></div>
                                                </ul>
                                            </div>
                                            <select name="city" id="city" style="display: none;">
                                                <option value="">选择城市</option></select>
                                        </div>
                                        <input name="apply" type="button" value="立即预约"></div>
                                    <p class="sm">全国服务热线<?= Yii::$app->params['siteHotline']; ?>
                                        <br>为了方便我们联系，请留下您的联系方式，我们将严格保密</p></div>
                            </div>
                            <!--首页底部浮动报名条-->
                            <!--首页底部浮动报名条-->
                            <div class="appoinment-bottom show" id="appoinment-bottom" style="left: -150%;">
                                <div class="page-container">
                                    <a href="javascript:;" target="_blank">
                                        <img class="logo" src="http://img.tugou.com/index/include-bottom-logo.png"></a>
                                    <div class="content-box">
                                        <div class="apply-form">
                                            <p class="tip">已有
                                                <em class="ifocus"></em>位业主 成功领取报价</p>
                                            <input name="apply_type" type="hidden" value="7">
                                            <input name="remark" type="hidden" value="底部浮层报价">
                                            <div class="part_left">
                                                <input name="phone" type="text" placeholder="手机号码" value="">
                                                <div class="squatre">
                                                    <input name="size" type="text" placeholder="建筑面积" value="">
                                                    <span>㎡</span></div>
                                            </div>
                                            <div class="part_right">
                                                <div class="select-group baojia-type">
                                                    <select name="level" id="level">
                                                        <option value="0">装修档次</option>
                                                        <option value="1">普通装修</option>
                                                        <option value="2">中档装修</option>
                                                        <option value="3">高端装修</option></select>
                                                </div>
                                                <div class="select-group clearfix js-region-select-group">
                                                    <select class="js-province" name="province" id="province">
                                                        <option value="">省/市</option></select>
                                                    <select class="js-city" name="city" id="city">
                                                        <option value="">市/地区</option></select>
                                                </div>
                                            </div>
                                            <input name="bottom-btn" type="button" value="" class="bottom-price"></div>
                                        <div class="baojia-result">
                                            <h2>你的预算报价约为
                                                <span class="money-bottom">0</span>元</h2>
                                            <ul>
                                                <li>报价仅供参考，真实报价以实际量房为准</li>
                                                <li>稍后装修管家将会致电，为您提供相关装修服务</li></ul>
                                        </div>
                                        <!-- <img class="qrcode-box" src="http://img.tugou.com/themes/default/togo_ewm.jpg"> -->
                                        <div class="qrcode-box">
                                            <p class="faultlayout">&nbsp;</p>
                                            <img class="ewm" src="http://img.tugou.com/index/app_weixin.jpg">
                                            <p class="desc">扫码获取装修优惠和保障</p></div>
                                        <div class="alert"></div>
                                    </div>
                                    <div class="close_button">
                                        <a href="javascript:;">×</a></div>
                                </div>
                            </div>
                            <!--缩略版-->
                            <div class="appoinment-bottom-collapse">
                                <a href="javascript:;">
                                    <img src="http://img.tugou.com/index/include-bottom-collapse.png"></a>
                            </div>
                            <script type="text/javascript" src="http://static.tugou.com/js/components/bottom-price.js"></script>
                            <link type="text/css" rel="stylesheet" href="//at.alicdn.com/t/font_1463989160_300939.css" />
                            <link type="text/css" rel="stylesheet" href="//static.tugou.com/common/consult/aside-consult-v4.css?ver=4.0.0" />
                            <!-- side bar -->
                            <a id='bj-jzj' href="http://tuan.tugou.com/beijing/togojzj.html" target="_blank">
                                <img src="http://img.tugou.com/images/bj-jzj-float.png" /></a>
                            <div class="side" style="right:10px;">
                                <div class="side-con">
                                    <div id="kefu-close">x</div>
                                    <div class="kefu-notice" id="kefu-notice" onclick="nTalk.im_openInPageChat();">
                                        <div id="sequence-0" class="sequence">
                                            <div id="sequence-0-big" class="sequence-big" style="display:block">
                                                <img src="//static.tugou.com/common/consult/img/company-v4.png" /></div>
                                            <div id="sequence-0-small" style="display:none">
                                                <img src="//static.tugou.com/common/consult/img/company-small-v4.png" /></div>
                                        </div>
                                        <div id="sequence-1" class="sequence">
                                            <div id="sequence-1-big" class="sequence-big">
                                                <img src="//static.tugou.com/common/consult/img/material-v4.png" /></div>
                                            <div id="sequence-1-small">
                                                <img src="//static.tugou.com/common/consult/img/material-small-v4.png" /></div>
                                        </div>
                                        <div id="sequence-2" class="sequence">
                                            <div id="sequence-2-big" class="sequence-big">
                                                <img src="//static.tugou.com/common/consult/img/design-v4.png" /></div>
                                            <div id="sequence-2-small">
                                                <img src="//static.tugou.com/common/consult/img/design-small-v4.png" /></div>
                                        </div>
                                        <div id="sequence-3" class="sequence">
                                            <div id="sequence-3-big" class="sequence-big">
                                                <img src="//static.tugou.com/common/consult/img/offer-v4.png" /></div>
                                            <div id="sequence-3-small">
                                                <img src="//static.tugou.com/common/consult/img/offer-small-v4.png" /></div>
                                        </div>
                                    </div>
                                    <div id="kefu-online" style="display:none" onclick="nTalk.im_openInPageChat();">
                                        <img src="http://img.tugou.com/consultant/consult-online.png"></div>
                                    <div class="icon-btn iconfont icon-huidaodingbu back-top" style="display:none">返回顶部</div></div>
                            </div>
                            <script type="text/javascript" src="//static.tugou.com/common/consult/aside-consult-v4.js?ver=4.0.0"></script>
                            <script type="text/javascript" src="http://dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9262" charset="utf-8"></script>
                            <!-- 北京家装节活动导航图 -->
                            <style type="text/css">#bj-jzj { display: none; position: fixed; top: 300px; right: 0; }</style>
                            <script type="text/javascript">$(function() {
                                    var wWidth = $(window).width();
                                    var rVal = 5;
                                    for (var i = 1400; i <= wWidth; i += 100) {
                                        rVal += 15;
                                    }
                                    $("#bj-jzj").css('right', $('.side').css('right'));
                                    var href = window.location.href;
                                    if (href.indexOf('://') != -1) {
                                        href = href.split('://')[1];
                                    }
                                    if (href.split('.')[0] == 'bj') {
                                        $('#bj-jzj').show();
                                    }
                                })</script>
                            <!--底部-->
                            <div class="footer">
                                <div class="border">
                                    <div class="four-good main-cont">
                                        <div class="item1">
                                            <p>好设计</p>
                                            <p>优秀设计，实景体验</p>
                                        </div>
                                        <div class="item2">
                                            <p>好材料</p>
                                            <p>优质主材，源头直供</p>
                                        </div>
                                        <div class="item3">
                                            <p>好施工</p>
                                            <p>标准工艺，严苛施工</p>
                                        </div>
                                        <div class="item4">
                                            <p>好服务</p>
                                            <p>装修管家，专业服务</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="web-map main-cont clearfix">
                                    <div class="item fn-left">
                                        <div class="map padTop10 fn-left">
                                            <p>关于我们</p>
                                            <div>
                                                <a href="http://www.citytogo.com/about.html" rel="nofollow" target="_blank">关于兔狗</a>
                                                <a href="http://www.citytogo.com/workspace.html" rel="nofollow" target="_blank">加入我们</a>
                                                <a href="http://www.citytogo.com/contactus.html" rel="nofollow" target="_blank">联系我们</a></div>
                                        </div>
                                        <div class="map padTop10 fn-left">
                                            <p>网站服务</p>
                                            <div>
                                                <a href="http://www.tugou.com/free/yanfang/" target="_blank">免费验房</a>
                                                <a href="http://www.tugou.com/free/sheji/" target="_blank">免费设计报价</a>
                                                <a href="http://www.tugou.com/free/jianli/" target="_blank">免费监理</a></div>
                                        </div>
                                        <div class="map padTop10 fn-left">
                                            <p>网站帮助</p>
                                            <div>
                                                <a href="http://www.tugou.com/map/">网站地图</a>
                                                <a>意见反馈</a>
                                                <a href="http://www.citytogo.com/copyright.html">版权声明</a></div>
                                        </div>
                                    </div>
                                    <div class="item contact fn-right">
                                        <p>客服热线：
                                            <span>400 8617 000</span></p>
                                        <p>商家加盟：
                                            <span>18958057436</span></p>
                                        <a onclick="nTalk.im_openInPageChat();">在线咨询</a></div>
                                    <div class="item code fn-right">
                                        <a>
                                            <img src="http://img.tugou.com/index/app_code.jpg" border="0" alt="兔狗家装APP"></a>
                                        <p>下载兔狗家装APP</p>
                                    </div>
                                </div>
                            </div>
                            <!-- page footer link -->
                            <div class="footer-links">
                                <div class="links">
                                    <div class="links-footer">
                                        <div class="links-left">
                                            <p>Copyright © 兔狗家装 tugou.com All Rights Reserved</p>
                                            <!-- <p>浙B2-20160115&nbsp;&nbsp;<span class="beian"></span>浙公网安备 33010302001742号</p> -->
                                            <p>浙ICP备14016529号&nbsp;&nbsp;
                                                <span class="beian"></span>浙公网安备 33010302001742号</p></div>
                                        <div class="links-right">
                                            <a>
                                            </a>
                                            <a id='___szfw_logo___' href='https://credit.szfw.org/CX20151215012655370386.html' target='_blank' rel=”nofollow”></a>
                                            <a>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <style type="text/css">.beian{ width: 15px; height: 15px; display: inline-block; background: url(http://img.tugou.com/index/footer-beian.png) no-repeat; background-size: 100%; position: relative; top: 2px; }</style>
                            <div style="position:absolute; width:0px; height:0px; z-index:1; display:none">
                                <script src="http://s4.cnzz.com/z_stat.php?id=1255110144&web_id=1255110144" language="JavaScript"></script>
                                <!--PC/移动端加百度统计代码：-->
                                <script>var _hmt = _hmt || []; (function() {
                                        var hm = document.createElement("script");
                                        hm.src = "//hm.baidu.com/hm.js?dc5a135b405f74dc32ec7a6e5e1f5716";
                                        var s = document.getElementsByTagName("script")[0];
                                        s.parentNode.insertBefore(hm, s);
                                    })();</script>
                                <script>document.write(unescape("%3Cscript src='//hm.baidu.com/hm.js?da71bb527e7fbe36ed37986b221b9730' type='text/javascript'%3E%3C/script%3E"));
                                    window._pt_lt = new Date().getTime();
                                    window._pt_sp_2 = [];
                                    _pt_sp_2.push('setAccount,297b9515');
                                    var _protocol = (("https:" == document.location.protocol) ? " https://": " http://"); (function() {
                                        var atag = document.createElement('script');
                                        atag.type = 'text/javascript';
                                        atag.async = true;
                                        atag.src = _protocol + 'js.ptengine.cn/pta.js';
                                        var stag = document.createElement('script');
                                        stag.type = 'text/javascript';
                                        stag.async = true;
                                        stag.src = _protocol + 'js.ptengine.cn/pts.js';
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(atag, s);
                                        s.parentNode.insertBefore(stag, s);
                                    })();</script>
                            </div>
                            <script type="text/javascript" src="http://static.tugou.com/js/nav.js"></script>
                            <script type="text/javascript" src="http://static.tugou.com/js/city/ProvinceJson.js"></script>
                            <script type="text/javascript" src="http://static.tugou.com/js/city/CityJson.js"></script>
                            <script type="text/javascript" src="http://static.tugou.com/js/components/cascadingRegion.js"></script>
                    </body>
                    
                    </html>
